.App {
  text-align: center;
}

.homepageBut {
  border: 1px solid grey;
  color: white;
}

.homepageBut:hover {
  background-color: rgb(32, 39, 99);
}

.nav_brand {
  position: absolute;
  left: 50%;
}

.sideNav {
  height: 100%;
  background-color: rgb(202, 197, 189);
}